body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #eceff1;
}

main {
    flex: 1 0 auto;
    
}

/*blog posts*/

.blog-post {
    margin-bottom: 60px;
}

.blog-post-title {
    font-size: 40px;
}

.blog-post-meta {
    color: #fff;
    font-style: italic;
    
}

h3 {
    font-size: 20px
}

h5 {
    font-size: 50px
}

h6 {
    font-size: 25px
}



