<!DOCTYPE html>
  <html>
      
    <head>
        <title>JG| TodoList</title>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/todo.css">
      <link rel="icon" href="data:;base64,iVBORwOKGgo=">
      <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
      

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-wrapper black">
                    <div class="col s12"><a href="#" class="brand-logo">List</a></div>
                    <div class="col s6"><ul class="right">
                            
                       
                            <li><a href="index.html">Home<span class="badge"></span></a></li>
                        </ul></div>
                    <div class="col s6 right"><ul class="right-bottom">
                        <li><a href="admin.html">Login<span class="badge"></span></a></li>
                        </ul></div>
                </div>
                
 
        
            </nav>
        </header>
        <main>
            
            <div class="container">
                <div class="row">
                    <h1 class="center-align">Todo List</h1>
                </div>
                <div class="row">
                    <div class="col s12 main-container">
                        
                    </div>
                </div>
            </div>
             
   
          
        </main>
        <footer class="page-footer black">
            <div class="container">
                <p><a href="#" class="white-text">Back to the top</a></p>
            </div>
            <div class="footer-copyright">
                <div class="container center-align">
                    @2016 Jackelyne Guzman
                <div class="container">
                </div>
            </div>
            </div>
        </footer>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="libs/backendless.js"></script>
      <script type="text/javascript" src="js/todo.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
      <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
           <div class="divider"></div>
  
    
   
 
 
      <script class="center-align" id="blogs-template" type="text/x-handlebars-template">
          
    {{#each posts}}
           
          <div class="blog-post">
          <div class="chip">
          <i class="material-icons check">done</i>
          <i class="material-icons deleteA" type="submit" name="action" data={{objectId}}>delete</i>
   
              <h2 class="blog-post-title"">{{title}}</h2>
              <p class="blog-post-meta">At {{format created}} by {{authorEmail}}</p>
              
           
          </div>
  
  </div>
          {{/each}}
            
      </script>
    
    
 
      
    </body>
  </html>
        
